{# src/_includes/contact-form.njk #}
<div class="contact-page-form">
    <form class="contact-form" 
        name="contact" 
        method="POST" 
        data-netlify="true" 
        netlify-honeypot="bot-field"
        action="/Thank-you/"
    >
        {# Hidden fields #}
        <input type="hidden" name="form-name" value="contact">
        <input type="hidden" name="subject" value="Nuevo mensaje de contacto">

        {# Honeypot field #}
        <p hidden>
            <label>Don't fill this out if you're human: <input name="bot-field" /></label>
        </p>

        {# Form fields #}
        <div class="form-grid">
            <div class="form-group">
                <input type="text" name="test" placeholder="Name" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="tel" name="phone" placeholder="Telephone number">
            </div>
            <div class="form-group">
                <input type="text" name="businessname" placeholder="Business Name" required>
            </div>
            <div class="form-group">
                <input type="text" name="location" placeholder="Location (City, State, Country)" required>
            </div>
            <div class="selectors-container">
                <div class="form-group">
                    <select name="uniform-type" required>
                        <option value="" selected disabled>Uniform Type</option>
                        <option value="Adults">Adults</option>
                        <option value="Kids">Kids</option>
                        <option value="Adults and Kids">Adults and Kids</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="quantity-range" required>
                        <option value="" selected disabled>Quantity Range</option>
                        <option value="50 - 99">50 - 99</option>
                        <option value="100 - 299">100 - 299</option>
                        <option value="300 - 499">300 - 499</option>
                        <option value="500+">500+</option>
                    </select>
                </div>
            </div>
            <div class="form-group full-width">
                <textarea name="message" placeholder="Write your message here..." required></textarea>
            </div>
        </div>
        {# Submit button #}
        <button type="submit" class="btn-dark btn-form full-width">
            {{ submitText | default('Get in touch') }}
        </button>
    </form>
</div>