<div class="nav-content">
            <!-- use shortcode for these image -->
            <div class="logo-link-container">
                {% image "src/img/dende-arts-logo.png", "dende arts logo", "logo-link", undefined, undefined, undefined, "eager" %}
                {% image "src/img/dende-arts-logo2.png", "dende arts logo", "logo-link-lg", undefined, undefined, undefined, "eager" %}
            </div>
            <!-- use shortcode for these image -->
            <div class="nav-container">
                <button class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="overlay"></div>
                <nav class="nav-menu">
                    <a href="/">Home</a>
                    {# <a href="/">About</a> #}
                    <a href="/abada-joggers-landing/">Abadas</a>
                    {# <a href="/">Learn</a> #}
                    <a href="/blog/">Blog</a>
                    <a href="/bulk-orders/">Bulk Orders</a>
                    <!-- Add this to your nav.njk -->
                    <div class="cart-indicator">
                        <span id="cart-count" style="display: none">0</span>
                    </div>
                </nav>
            </div>
        </div>