<div class="nav-content">
            <!-- use shortcode for these image -->
            <div class="logo-link-container">
                <a href="/">
                    {% image "src/img/dende-arts-logo.png", "dende arts logo", "logo-link", undefined, undefined, undefined, "eager" %}
                    {% image "src/img/dende-arts-logo2.png", "dende arts logo", "logo-link-lg", undefined, undefined, undefined, "eager" %}
                </a>
            </div>
            <!-- use shortcode for these image -->
            <div class="nav-container">
                <button class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="overlay"></div>
                <nav class="nav-menu">
                    <a href="/">Home</a>
                    {# <a href="/">About</a> #}
                    <a href="/abada-joggers-landing/">Abadas</a>
                    <a href="/songbook/">Songs</a>
                    {# <a href="/">Learn</a> #}
                    <a href="/blog/">Blog</a>
                    <a href="/bulk-orders/">Bulk Orders</a>
                    <!-- Add this to your nav.njk -->
                    <a href="#" class="cart-toggle flex-box" onclick="return false;">
                        {% image "src/img/cart-icon.svg", "Dende Arts Shopping Cart", "cart-icon", undefined, undefined, undefined, "eager" %}
                        ({{ swellCartCount }})
                    </a>
                </nav>
            </div>
        </div>