

/* ============= 
  General CSS 
=============== */

:root {
    --title-color: #4f646f;
    --action-primary: #67BAC8;
    --alt-action: #FFB92D;
    --text-color: #434343;
    --text-form: #b4b4b4;
    --logo-color: #5aa097;
    --background-light: #d2e9ef;
    --background-dark: #000;
    --background-beige: #E2DADB;
    --background-variant: #E2DEDA;
}

* {
	box-sizing: border-box;
	/* Makes so padding and border are included
	in the width of an element. 
	so if you make a box 200px wide,
	the set padding and border are included */
    overflow-x: clip;
}

body {
	margin: 0;
	font-family: 'DM Sans', 'other-font';
	font-size: 16px; /* or 1.125rem */
	font-weight: 400; 
	line-height: 1.6; /* a normal default */
}

img {
    max-width: 100%;
    display: block;
}


/* ============= 
   Typography 
=============== */

/* === Import font families === */

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-Variable.woff2') format('woff2-variations');
    font-weight: 100 1000;  /* This covers the entire weight range */
    font-display: swap;
}

/* === typography styles === */

h1,h2,h3 {
	font-family: "DM Sans";
	font-weight: 700;
    color: var(--title-color);
	margin-top: 0; /* avoids added padding from flex boxes */
	}

h1 {
    font-size: 3.25rem;
    line-height: 4.3rem;
}

h2 { /* possible update */
    font-size: 1.75rem;
    line-height: 2.375rem;
}

h3 { /* update pending */
    font-size: 1.75rem;
    line-height: 2.375rem;
}

p {
    font-size: 1.125rem;
}
	
a {
	color: black;
    text-decoration: none;
	}
	
a:hover, 
a:focus,
button:focus,
button:hover {
	color: var(--alt-action);
}

/* add other typography based styles below */
	

/* === Buttons === */

.btn {
    /* cursor: pointer; */
    padding: 1.25rem 3rem;
}

.btn:active,
.btn:focus {
    cursor: pointer;
}

.btn-dark,
.btn-light,
.btn-blue,
.btn-very-dark {
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0 auto;
    padding: 1.5rem 2.5rem;
    width: 100%;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    transform: all 0.3s ease-in-out;
}

.btn-form {
    border: none;
}

.btn-dark {
    background-color: var(--action-primary);
}

.btn-light {
    border: 2px solid white;
    color: white;
}

.btn-blue {
    border: 2px solid var(--action-primary);
    color: var(--action-primary);
}

.btn-very-dark {
    background-color: var(--title-color);
}

strong {
    font-weight: 700;
}

/* text highlight */
.highlight-yellow {
    background: linear-gradient(0deg, var(--yellow-bg) 80%, transparent 50%);
    display: inline;
    padding: 0 0.1em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

/* more button styles */

@media (min-width: 725px) {
    h1 {
        font-size: 4.5rem;
        line-height: 5.375rem;
    }

    h2 {
        font-size: 3rem; /* was 3.625rem */
        line-height: 4rem; /* was 4.375rem */
    }

    h3 {
        font-size: 1.375rem;
        line-height: 2rem;
    }
}

@media (min-width: 725px) {
    .btn-dark,
    .btn-light,
    .btn-blue,
    .btn-very-dark {
        width: auto;
        min-width: 300px;
    }

    .btn-full-width {
        width: 100%;
    }
}


/* ================ 
     Components
================== */

.main-grid {
    display: grid;
}

.main-grid > * {
    grid-column: 2/4;
}

.left-half-content,
.right-half-content {
    grid-column: 2/4;
}

.left-half-img-container,
.right-half-img-container {
    grid-column: 2/4;
    margin-bottom: 3rem;
    aspect-ratio: 1/1;
}

.left-half-img-container img,
.right-half-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.hide-mobile {
    display: none;
}

.hide-desktop {
    display: block;
}



/* Mobile breakpoint */

@media (min-width: 768px) {
    .hide-desktop {
        display: none;
    }
    .hide-mobile {
        display: block;
    }
    .left-half-img-container {
        grid-column: 2;
    }

    .right-half-img-container {
        grid-column: 3;
    }

    .left-half-content {
        grid-column: 2;
    }

    .right-half-content {
        grid-column: 3;
    }

    .abada-jogger-landing-page-img {
        padding: 0 2rem;
    }

}

.align-left {
    text-align: left;
    margin: auto;
    justify-content: left;
}
	
/* ============= 
 General Layout 
=============== */

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(150px, 250px) minmax(150px, 250px) minmax(1em, 1fr);
    row-gap: 1rem;
    align-items: center;    
}

@media (min-width: 725px) {
    .main-grid {
        grid-template-columns: minmax(1em, 1fr) minmax(150px, 600px) minmax(150px, 600px) minmax(1em, 1fr);
    }
    
}

.product-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(150px, 250px) minmax(150px, 250px) minmax(1em, 1fr);
    row-gap: 1rem;
    align-items: center;
}

@media (min-width: 850px) {
    .product-grid {
        grid-template-columns: 
            minmax(1rem, 1fr)
            minmax(170px, 1.5fr)
            minmax(450px, 2.5fr)
            minmax(170px, 1.5fr)
            minmax(1rem, 1fr);
        grid-template-areas: 
            ". title title title ."
            ". feature1 image feature3 ."
            ". feature2 image feature4 ."
            ". . button . .";
    }
}

.featured-guide-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(150px, 250px) minmax(150px, 250px) minmax(1em, 1fr);
    row-gap: 1rem;
    align-items: center;    
}

@media (min-width: 7250px) {
    .main-grid {
        grid-template-columns: minmax(1em, 1fr) minmax(150px, 600px) minmax(150px, 600px) minmax(1em, 1fr);
    }
    
}


/* ============= 
    Navigation 
=============== */

.nav-container {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1000;
  }

.logo-link img,
.logo-link-lg img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.logo-link {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.logo-link-lg {
    display: none;
    width: 184px;
    height: 50px;
}

  .hamburger {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 10;
    margin-right: 20px;
  }

  .hamburger span {
    display: block;
    width: 30px;
    height: 3.5px;
    margin: 5px;
    background-color: var(--title-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  .overlay {
    position: fixed;
    top: 35px;
    right: 35px;
    width: 0;
    height: 0;
    background-color: var(--title-color);
    border-radius: 50%;
    transition: all 0.6s ease;
    transform: translate(50%, -50%);
    z-index: 1;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
  }

  .nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin: 10px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
  }

  /* Active States */
  .active .overlay {
    width: 450vw;
    height: 450vw;
  }

  .active .nav-menu {
    visibility: visible;
    opacity: 1;
  }

  .active .nav-menu a {
    opacity: 1;
    transform: translateY(0);
  }

  .active .hamburger span:first-child {
    transform: rotate(45deg) translate(6px, 6px);
    background-color: white;
  }

  .active .hamburger span:nth-child(2) {
    opacity: 0;
  }

  .active .hamburger span:last-child {
    transform: rotate(-45deg) translate(6px, -6px);
    background-color: white;
  }

  /* Delay each nav item animation */
  .active .nav-menu a:nth-child(1) { transition-delay: 0.3s; }
  .active .nav-menu a:nth-child(2) { transition-delay: 0.4s; }
  .active .nav-menu a:nth-child(3) { transition-delay: 0.5s; }
  .active .nav-menu a:nth-child(4) { transition-delay: 0.6s; }
  .active .nav-menu a:nth-child(5) { transition-delay: 0.7s; }
  .active .nav-menu a:nth-child(6) { transition-delay: 0.8s; }

   /* Desktop Navigation Styles */
   @media (min-width: 725px) {
    .nav-content {
    grid-column: 2/4;
    display: flex;
    justify-content: space-between;
    align-items: top;
    position: relative;
    padding-top: 3rem;
    margin-top:3rem;
    }

    .nav-container {
      position: static;
    }

    .hamburger {
      display: none;
    }

    .overlay {
      display: none;
    }

    .nav-menu {
      position: static;
      visibility: visible;
      opacity: 1;
      width: auto;
      height: auto;
      flex-direction: row;
      background: none;
      gap: 3rem;
    }

    .nav-menu a {
      color: #333;
      font-size: 16px;
      margin: 0 0 0 0px;
      opacity: 1;
      transform: none;
    }

    .nav-menu a:hover {
      color: #666;
    }

    .nav-content img {
        min-width: auto;
        min-height: auto;
    }

    .logo-link-container {
        width: 135px;
        height: 64px;
      }

    .logo-link-lg {
      display: inline;
      min-width: 184px;
      min-height: 50px;
      margin-top: 2rem;
    }
    .logo-link {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    .nav-menu {
      gap: 3.5rem;
      }
  }


/* ============= 
      Hero 
=============== */

.hero {
    background-image: url("/img/homepage/hero-bg.jpg");
    background-position: calc(100% + 000px) center;    
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5rem;
}

.hero > * {
    grid-column: 2/4;
}

.nav-content {
    grid-column: 2/4;
    padding-top: 1.5rem;
}

.hero-content {
    grid-column: 2/4;
    padding-top: 3rem;
    padding-bottom: 4.4rem;
}

.hero-subtitle {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--title-color);
    padding-bottom: 4.5rem;
    /* margin-bottom: 1.5rem; */
}

.duo-button-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (min-width: 725px) {

    .hero {
        background-position: right;    
    }

    .hero-content {

        grid-column: 2/4;
        width: 70%;
    }

    .duo-button-container {
        flex-direction: row;
        justify-content: flex-start;
    }
}

@media (min-width: 1100px){

    .hero-content {
        grid-column: 2/4;
        width: 60%;
    }
}

/* ================= 
   Featured Product 
=================== */

.product-info-section {
    background-color: var(--background-light);
    padding: 10rem 0 12rem;
}

.product-grid > * {
    grid-column: 2/4;
}

.product-title-content {
    text-align: center;
}

.section-subtitle {
    margin-bottom: 8rem;
}

.product-image {
    justify-self: center;
    aspect-ratio: 586/690;
    width: 100%;
    margin-bottom: 2rem;
}

.product-image img {
    aspect-ratio: 586/690;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.feature-image-container {
    width: 50x;
    height: 50px;
    margin-bottom: 1rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.product-feature p {
    margin-bottom: 4rem;
}

.feature-image-container img {
    /* max-width: 100%;
    max-height: 100%;
    object-fit: contain; */

    align-self: flex-start;
    max-width: 50px;
    height: auto;
}

@media (min-width: 850px) {

.product-grid {
    max-width: 1800px;
    margin: 0 auto;
}
    
.product-title-content {
    grid-area: title;
    text-align: center;
    object-fit: contain;
}

.feature-image-container {
    width: 55x;
    height: 55px;
}

.product-image {
    grid-area: image;
    justify-self: center;
    aspect-ratio: 586/690;
    width: 100%;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 586/690;
    padding: 0 1rem;
}

.product-feature:nth-child(2) {
    grid-area: feature1;
}

.product-feature:nth-child(3) {
    grid-area: feature2;
}

.product-feature:nth-child(5) {
    grid-area: feature3;
}

.product-feature:nth-child(6) {
    grid-area: feature4;
}

.featured-product-button {
    grid-area: button;
    justify-self: center;
    padding: 1rem 0rem;
    margin-top: 6rem;
}

}


/* ================= 
     Guide Section 
=================== */

.featured-guide {
    padding: 6.75rem 0 4rem;
}

.featured-guide > * {
    grid-column: 2/4;
}

.guide-title-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin:  0 auto;
}

.guide-title-content h2 {
    text-align: center;
    color: var(--action-primary);
}

.half-pg-img-container {
    grid-column: 2/4;
    margin-bottom: 3rem;
    aspect-ratio: 399/373;
}

.half-pg-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.guide-card-container {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    margin-bottom: 5.25rem;
}

.guide-card {
    grid-column: 2/4;
    margin-bottom: 2rem;
    border: 0px solid;
    border-radius: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); 
    padding: 2rem 1rem;
}

.guide-card-content {
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}

.guide-card-content h3 {
    margin-bottom: 0;
}

.guide-icon {
    margin-top: .3rem;
}

.guide-card p {
    margin-left: 2.5rem;
}

.guide-product-button {
    justify-self: center;
    padding: 1rem 2.5rem;
}

@media (min-width: 725px) {
    .guide-title-content h2 {
        font-size: 2.8rem;
    }

    .guide-title-content {
        max-width: 75%;
    }
}

@media (min-width: 850px) {

    .guide-title-content h2 {
        font-size: 3.625rem;
    }

    .half-pg-img-container {
        grid-column: 2;
    }

    .right-half-pg-img-container {
        grid-column: 3;
    }

    .guide-card-container {
        grid-column: 3;
    }

    .guide-product-button {
        width: 50%;
        margin: 0 auto;
    }
}


/* ================= 
     About Section 
=================== */

.home-about {
    padding: 6.5rem 0 6.5rem;
    display: grid;
    background-color: var(--background-light);
}

.home-about > * {
    grid-column: 2/4;
}

.home-about h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.home-about-image {
    padding-bottom: 2rem;
    aspect-ratio: 1/1;
    margin: 0 auto;
}

.home-about-content {
    color: var(--title-color);
}

.home-about-calado-name {
    font-size: 1.75rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.home-about-calado-title {
    font-size: 1.25rem;
    padding-bottom: 0;
    margin-top: 0;
}

.home-about-social {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    margin-bottom: 1rem;
    width: 200px;
}

.social-icon:nth-child(1) {
    border-right: 2px solid var(--title-color);
}

.social-icon:nth-child(2) {
    margin-left: auto;
}


.social-icon img { 
    font-size: 1rem;
    height: 2rem;
}

.home-about-content p {
    margin-bottom: 3rem;
}

@media (min-width: 725px) {

    .home-about h2 {
        margin-bottom: 6rem;
    }

    .home-about-image {
        grid-column: 2;
    }

    .home-about-content {
        grid-column: 3;
    }

}

/* ================= 
     Blog Section 
=================== */

.home-blog-section {
    display: grid;
    padding: 6.5rem 0 6.5rem;
}

.home-blog-section > * {
    grid-column: 2/4;
}

.home-blog-title-container {
    text-align: center;
}

.home-blog-title-container h2 {
    margin-bottom: 1rem;
}

/* ==================== 
     Testimonial Section 
====================== */


.home-testimonials {
    background-color: var(--background-light);
    padding: 10rem 0rem 6rem;
    display: grid;
}

.home-testimonials > * {
    grid-column: 2/4;
}

/* Testimonial Grid */
.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Testimonial Cards */
.home-testimonial-card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
}

/* === testimnoial carousel === */

.testimonial-carousel {
    position: relative;
    width: 100%;
    overflow-x: clip;
}

.testimonial-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: #ccc;
    cursor: pointer;
    padding: 0;
}

.carousel-dot.active {
    background-color: #333;
}


/* Testimonial Section */

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}


.testimonial-rating {
    margin-bottom: 1rem;
}

.star {
    color: var(--alt-action);
    font-size: 1.2rem;
}

.star-empty {
    color: #e0e0e0;
}

/* .testimonial-text {
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
} */

.testimonial-footer {
    margin-top: auto;
    border-top: 1px solid #eee;
    padding-top: 1rem;
}

.testimonial-author {
    font-weight: bold;
    color: var(--text-dark);
    margin-bottom: 0.25rem;
}

.testimonial-relation {
    font-size: 0.9rem;
    color: var(--text-muted);
}

/* Responsive Design */
@media (max-width: 768px) {
    .testimonial-grid {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }

    .home-testimonial-card {
        padding: 1.5rem;
    }
}




/* ================ 
       Contact 
================== */

.home-contact {
    display: grid;
    grid-column: 2/4;
    padding: 6rem 0 5rem;
    max-width: 650px;
    margin: 0 auto;
}

.home-contact > * {
    grid-column: 2/4;
}

.home-contact h2,
.home-contact p {
    text-align: center;
    margin: 0;
}

.home-contact p {
    padding-bottom: 4.5rem;
}



/* ================ 
       Footer 
================== */


.footer {
    background-color: var(--title-color);
    padding: 4rem 0;
    color: rgb(255, 255, 255);
}

.footer > * {
    grid-column: 2/4;
}

.footer-top-content {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.footer-logo-link-container {
    width: 200px;
    height: 64px;
  }

.footer-logo-link-lg,
.footer-logo-link-lg img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    margin-left: 2rem;

}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
}

/* Navigation Links */
.footer-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 350px;
    /* margin: 0 auto; */
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-nav a:hover,
.footer-nav a:focus {
    color: var(--secondary-color);
}

/* Social Media Icons */
.footer-social-small {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 2em;
    padding-bottom: 2em;
    fill: #fff;
}

.footer-social-large {
    display: none;
}

.footer-social a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.footer-social a:hover,
.footer-social a:focus {
    color: var(--secondary-color);
}

/* Copyright */
.footer-copyright {
    font-weight: 400;
    border-top:  1px solid rgba(255, 255, 255, 0.4);
    padding-top: 1rem;
}

.footer-copyright p {
    margin: 0.25rem 0;

}

/* Media Queries */
@media (min-width: 725px) {

    .footer-nav {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        max-width: 100%;
    }

    .footer-bottom-content {
        flex-direction: row;
        border-top:  1px solid rgba(255, 255, 255, 0.4);
        gap: 2rem;
    }

    .footer-social-small {
        display: none;
        border-bottom: none;
        margin: 3rem 0;
        margin-left: 10rem;
        margin-right: 2rem;
        fill: #fff;
    }

    .footer-social-large {
        display: inline;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: .5rem;
        margin-bottom: 1rem;
        width: 80px;
    }
    
    .footer-social-large:nth-child(1) {
            border-right: 2px solid #fff;
        }

    .footer-copyright {
        padding-top: 3rem;
        border-top:  none;
    }
    /* Optional: Different layout for larger screens */
    .footer {
        position: relative;
    }

}


/* ================ 
     Components
================== */

.left-half-content,
.right-half-content {
    grid-column: 2/4;
}

.left-half-img-container,
.right-half-img-container {
    grid-column: 2/4;
    margin-bottom: 3rem;
    aspect-ratio: 1/1;
}

.left-half-img-container img,
.right-half-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hide-mobile {
    display: none;
}

.hide-desktop {
    display: block;
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex-container-justify {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .hide-desktop {
        display: none;
    }
    .hide-mobile {
        display: block;
    }
    .left-half-img-container {
        grid-column: 2;
    }

    .right-half-img-container {
        grid-column: 3;
    }

    .left-half-content {
        grid-column: 2;
    }

    .right-half-content {
        grid-column: 3;
    }

    .flex-container {
        flex-direction: row;
        max-width: 1200px;
        
    }

}


/* ================ 
    Blog componentes
================== */

.blog-page-title {
    color: #434343;
        /* font-family: "DM Sans"; */
        font-size: 1.75rem;
        font-weight: 400;
        line-height: 2.375rem; /* 135.714% */
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 375px));
    justify-content: center; /* Centers the grid if total width is less than container */
    gap: 22px; /* Space between grid items */
    width: 100%; /* Full width of container */
}

.blog-featured-image,
.blog-featured-image img {
    width: 375px;
    height: 250px;
    object-fit: cover;
    border-radius: .625rem .625rem 0 0;
}


.blog-card {
    height: 500px;
    width: 375px;
    border-radius: .625rem;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
}

.blog-card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
}

.blog-card-title {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 700;
    color: var(--title-color);
    padding-top: 2rem;
}

.blog-card-excerpt {
    margin: 0;
    padding-bottom: 1.5rem;
}

.read-more {
    color: var(--action-primary);
    justify-self: end;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2rem;
}

.load-more-container {
    text-align: center;
}

.load-more-btn {
    margin-bottom: 5rem;
    margin-top: 4rem;
}

/* === blog template page === */

.blog-layout {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 900px) minmax(100px, 300px);
    column-gap: 1.5rem; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.breadcrumb-container {
    color: var(--action-primary);
    padding-bottom: 1.5rem;
}

.blog-post h1 {
    margin-bottom: 0rem;
}

.blog-info {
    font-size: 1.125rem;
}

.blog-post-container > * {
    display: grid;
    grid-column: 2/4;
    column-gap: 2rem;
}

.blog-post .blog-post-featured-image {
    padding-bottom: 2rem;
}



@media (min-width: 768px) {
    .blog-page-title {
        font-size: 3.625rem;
        line-height: 4.375rem; 
    }

    .load-more-btn {
        padding: 1rem 2.5rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        border-color: none;
    }

    .blog-post {
        grid-column: 2;

    }

    .blog-post-sidebar {
        padding-top: 2rem;
        grid-column: 3;

    }
}
