---
layout: layout.njk
title: High Quality Abada Joggers for Capoeira
description: "Order High Quality Abada Joggers for Capoeira Online"
permalink:  "/abada-joggers-landing/"

#opengraph and social Media
image: "src/img/products/abada-jogger-product-hero.webp"

keywords: 
    - "Buy high quality abadas online"
    - "High quality abadas"
    - "Order abadas online"
    - "Order bulk Capoeira uniforms online"
    - "Order Capoeira uniforms from the United States"
    - "better fitting capoeira abadas" 
socialImage: '/img/dende-arts-logo2.png'
headline: "Order the best quality abadas in the world"
excerpt: "Our Abadas Joggers are universally loved by Angoleiros, Regionalistas, and everyone in between."
type: "product"
---

<section class="product-hero main-grid">
    {% include "nav.njk" %}
    <div class="left-half-content align-content-top">
        <div class="rating-container-top">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
        </div>
        <h1 class="product-title">Abada Joggers</h1>
        <p class="product-subtitle">Elevate your capoeira performance with <strong>the best capoeira abadas</strong> online... or offline.</p>
        <p class="hide-mobile">Abada Jogger is here to offer you an alternative to the mob of unflattering capoeira uniforms out there.</p>
        <p>Made with the most luxurious <span class="highlight-text">4-way stretch polyester</span>, Abada Jogger is <strong>mid-rise</strong> and <strong>tapered fit</strong> that bring comfort and style to your capoeira journey.</p>
        <div class="features-container">
            <div class="feature">
                <div class="feature-image-container">
                    {% image "src/img/homepage/fabric-icon.svg", "4-way stretch material", "feature-icon", undefined, undefined, undefined, eager %}
                </div>
                <p>4-WAY STRETCH</p>
            </div>
            <div class="feature">
                <div class="feature-image-container">
                    {% image "src/img/homepage/waistband.svg", "abadas with elastic waistband", "feature-icon", undefined, undefined, undefined, loading="eager"  %}
                </div>
                <p>Elastic Waistband</p>
            </div>
            <div class="feature">
                <div class="feature-image-container">
                    {% image "src/img/homepage/taper.svg", "abadas with tapered fit", "feature-icon", undefined, undefined, undefined, loading="eager" %}
                </div>
                <p>Tapered Fit</p>
            </div>
            <div class="feature">
                <div class="feature-image-container">
                    {% image "src/img/homepage/zipper.svg", "abadas with zipper pocket", "feature-icon", undefined, undefined, undefined, loading="eager" %}
                </div>
                <p>Zippered Pocket</p>
            </div>
        </div>
        <div class="flex-box">
            <a class="btn btn-dark" href="/abada-joggers">Shop Abadas!</a>
            <a class="btn btn-light" href="/bulk-orders">Bulk Orders!</a>
        </div>
    </div>
    <div class="right-half-img-container abada-jogger-landing-page-img">
        {% image "src/img/products/abada-jogger-product-hero.webp", "abada jogger product", "abada-image", undefined, undefined, undefined, loading="eager"  %}
    </div>
</section>

<section class="product-reviews">
    <div class="review-container">
        <p>“The pants fit great and they were very easy to order”</p>
        <div class="rating-container">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
        </div>
    </div>
    <div class="review-container">
        <p>“These are the best capoeira pants I’ve played ever in ”</p>
        <div class="rating-container">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
        </div>
    </div>
    <div class="review-container">
        <p>“Abada Joggers are definitely a game changer”</p>
        <div class="rating-container">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
        </div>
    </div>
</section>

<section class="product-pain-point main-grid">
    <div class="left-half-image-conatainer dissapointed-woman">
        {% image "src/img/products/dissapointed-woman.webp", "woman frustrated how abadas fit", "abada-image", 
        [350, 700],
        ['webp'],
        "(min-width: 768px) 50vw, 387px" %}
    </div>
    <div class="right-half-content dissapointed-woman-text">
        <h2 class="section-title">Tired of uniforms that hinder your performance?</h2>
        <p>Are you tired of searching for capoeira pants that just don’t cut it? </p>
        <p class="hide-mobile">From the moment you start looking, it’s a struggle. You’re bombarded with options that look good but fall apart after a few uses. Many pants are either too tight, restricting your movements, or too loose, making you feel like you’re wearing a parachute. The fabric often chafes or doesn’t breathe, leaving you uncomfortable during practice. </p>
        <p>And when you finally make a purchase, you realize they don’t fit as promised or wear out quickly. Don’t let these frustrations hold you back; choose capoeira pants that are crafted with your needs in mind.</p>
    </div>
</section>

<section class="product-abada-alternative main-grid">
    <div class="left-half-content">
        <h2 class="">It’s time to buy abadas that don’t hold you back!</h2>
        <p>Don’t look any futher, we have you covered!</p>
    </div>
    <div class="right-half-img-container product-abada-alternative-img">
        {% image "src/img/products/abadas-half.webp", "abada jogger", "abada-image", undefined, undefined, undefined %}
    </div>
</section>

<section class="product-info-section white-bg">
    <div class="product-grid">
        <div class="product-title-content">
            <h2 class="section-title">Your Journey Reinvented</h2>
            <p class="section-subtitle">Abadas that combine style, comfort, and performance.</br> Elevate your Capoeira game with gear that works as hard as you do.</p>
        </div>
        <div class="product-feature">
            <div class="feature-image-container">
                {% image "src/img/homepage/fabric-icon.svg", "4-way stretch", "feature-icon", undefined, undefined, undefined %}
            </div>
            <h3>4-WAY STRETCH</h3>
            <p>Expands in both directions, ensuring the abadas move with your body, no matter how extreme the movement. It provides comfort that lasts from your first ginga to your last esquiva.</p>
        </div>
        <div class="product-feature">
            <div class="feature-image-container">
                {% image "src/img/homepage/taper.svg", "4-way stretch", "feature-icon", undefined, undefined, undefined %}
            </div>
            <h3>TAPERED FIT</h3>
            <p>Expands in both directions, ensuring the abadas move with your body, no matter how extreme the movement. It provides comfort that lasts from your first ginga to your last esquiva.</p>
        </div>
        <div class="product-image">
            {% image "src/img/products/abada-jogger-product-hero.webp", "abada jogger", "abada-image", undefined, undefined, undefined %}
        </div>
        <div class="product-feature">
            <div class="feature-image-container">
                {% image "src/img/homepage/waistband.svg", "4-way stretch", "feature-icon", undefined, undefined, undefined %}
            </div>
            <h3>ELASTIC WAISTBAND</h3>
            <p>Expands in both directions, ensuring the abadas move with your body, no matter how extreme the movement. It provides comfort that lasts from your first ginga to your last esquiva.</p>
        </div>
        <div class="product-feature">
            <div class="feature-image-container">
                {% image "src/img/homepage/zipper.svg", "4-way stretch", "feature-icon", undefined, undefined, undefined %}
            </div>
            <h3>ZIPPERED POCKET</h3>
            <p><strong>Keeps you dry</strong> during long training sessions and <strong>reduces chaffing</strong> and discomfort caused by sweat. Our fabric <strong>keeps you feeling fresh</strong>, allowing you to focus on you game.</p>
        </div>
        <a href="/abada-joggers" class="btn btn-dark featured-product-button">Shop Abadas</a>
    </div>
</section>

<section class="product-testimonials main-grid">
    <h2 class="section-title">People loving their Abada Joggers!</h2>
    <div class="testimonial-grid">
        {% for review in collections.abadaReviews %}
            {% if loop.index0 < 12 and review.review_content.length >= 100 %}
                {% include "abada-review-card.njk"%}
            {% endif %}
        {% endfor %}
    </div>
</section>

<section class="product-last-cta">
    <div class="flex-container abada-product-last-cta">
    <h2>Buy your Abadas 2.0 now and start a new chapter in your capoeira journey</h2>
    <a class="btn btn-very-dark" href="/abada-joggers">Shop Abadas!</a>
</section>



