---
layout: layout.njk
title: The number 1 Capoeira blog online
pagination:
  data: collections.songbookPosts
  size: 75
  alias: songbookPosts
permalink: "old-songbook/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

<!-- src/_includes/layouts/songbook.njk -->
<div class="blog-page-container main-grid">
    {% include "nav.njk" %}
    <h1 class="blog-page-title"><strong>We are the biggest online capoeira community!</strong> Find thoughts, resources and recommendations.</h1>

    <!-- Add search bar for songs -->
    <div class="search-container">
        <input class="searchInput" type="text" id="songbookSearchInput" placeholder="Search Capoeira Songs...">
    </div>

    {# Blog Grid #}
    <!-- blog-grid.njk -->
    <div class="blog-grid" id="songbook-grid">
        {% for post in songbookPosts %}
            <article class="songbook-card">
                {% if post.data.coverImage %}
                    {% image 
                        "src/blog/" + post.fileSlug + "/images/" + post.data.coverImage,
                        post.data.title, 
                        "blog-featured-image"
                    %}
                {% endif %}
                
                <div class="blog-card-content">
                    <h3 class="blog-card-title">
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                    </h3>
                    <a href="{{ post.url }}" class="read-more">Read More</a>
                </div>
            </article>
        {% endfor %}
    </div>


    {# Pagination Navigation #}
    <nav class="pagination" aria-label="Pagination">
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}" class="pagination-link">Previous</a>
        {% endif %}

        {% for page in pagination.pages %}
            {% set pageNumber = loop.index %}
            {% if pageNumber === pagination.pageNumber + 1 %}
                <span class="pagination-link current">{{ pageNumber }}</span>
            {% else %}
                <a href="{% if loop.index0 == 0 %}/songbook/{% else %}/songbook/page-{{ pageNumber }}/{% endif %}" 
                class="pagination-link">
                    {{ pageNumber }}
                </a>
            {% endif %}
        {% endfor %}

        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}" class="pagination-link">Next</a>
        {% endif %}
    </nav>
</div>

