---
layout: layout.njk
title: Bulk order Capoeira Uniforms from the United States
permalink: /bulk-orders/
---

<section class="main-grid">
    {% include "nav.njk" %}
    <div class="bulk-page-content">
        <h1 class="bulk-title">Finally!</br> Fast &amp; easy bulk orders of Capoeira Uniforms to anywhere in the world</h1>
        <p class="bulk-page-text">Fill out the form. We'll be in touch about getting your order set up!</p>
    </div>
    <div class="bulk-form-container">
        {% include "bulk-order-form.njk" %}
    </div>
</section>
